<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allandroidprojects.payeat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.payeat.login.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_bag"
        android:label="PayEat"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".startup.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".options.SearchResultsActivity" />
        </activity>
        <activity
            android:name=".startup.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".startup.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".fragments.ViewPagerActivity" />
        <activity android:name=".product.ItemDetailsActivity" />
        <activity
            android:name=".options.WishlistActivity"
            android:label="@string/my_wishlist" />
        <activity
            android:name=".options.CartListActivity"
            android:label="@string/my_cart" />
        <activity android:name=".options.SearchResultActivity">

            <!-- to identify this activity as "searchable.xml" -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".miscellaneous.EmptyActivity" />
        <activity android:name=".login" />
        <activity android:name=".scanQr" />
        <activity android:name=".done" />
        <activity android:name=".registerUser" />
        <activity android:name=".cart" />
        <activity android:name=".testkuncoro.cart_kuncoro" />
        <activity android:name=".utility.pin" />
        <activity android:name=".testkuncoro.history_saldo" />
        <activity android:name=".testkuncoro.history_point" />
        <activity android:name=".testkuncoro.notification" />
        <activity android:name=".promo.promosi" />
        <activity android:name=".testkuncoro.topup" />
        <activity android:name=".promo.pinpromo" />
        <activity android:name=".merchant.merchant" />
        <activity android:name=".kontak.about" />
        <activity android:name=".kontak.contact"></activity>
    </application>

</manifest>